@media (
    prefers-color-scheme: dark
) {
    .crap-in-dark {
		filter: invert();
    }
    .instalogo {
		filter: brightness(1.2)
    }
}

html {
    background: var(--page-bg);
}

hr {
    width: var(--horizontal-divider-width);
    height: 0px;
    border-width: 0px;
    margin-top: var(--margin-standard);
    margin-bottom: 32px;
    border-top: dashed 2px;
    border-color: var(--horizontal-divider);
}

body {
    margin: 10px auto;
    width: 100%;
    max-width: var(--body-max-width-index);
    padding: 0
}

img {
    width: 100%;
}

.bottom-row {
    width: 10%;
    display: inline-block;
    margin: 5px 0px 15px 38px;
}

.bottom-row-more {
    width: 10%;
    display: inline-block;
    margin: 5px 38px 15px 38px;
	float: right
}
