html {
    background: #fff;
    color: #222;
}

a {
    color: #2f95a4;
}

pre {
    padding: 8px 5%;
    overflow: auto;
    font-size: 15px;
	font-family: luxi_monoregular, monospace;
    background: #fbfbfb;
    border-left: 5px solid #f7eb00;
    margin-left: 5%;
    margin-right: 5%;
}

code {
    font-size: 15px;
    font-family: luxi_monoregular;
    border: 2px solid #ff7fd9;
    border-radius: 8px;
    padding: 0px 6px;
}

img {
    width: 84%;
    margin: 24px auto;
    display: block;
    padding: 3%;
    background: #ececec;
}

hr {
    width: 90%;
    height: 0px;
    border-width: 0px;
    margin-top: 32px;
    margin-bottom: 32px;
    border-top: dashed 2px;
    border-color: #333;
}

.q {
    padding: 8px 5%;
    background: #fbfbfb;
    border-left: 5px solid #ff91aa;
    margin-left: 5%;
    margin-right: 5%;
}

@media (
    prefers-color-scheme: dark
) {
    html {
		background: #333;
		color: #eee;
    }
    
    a {
		color: #a6e3e9;
    }

    img {
		background: #494949;
    }

	hr {
		border-color: #eee;
	}

	.q, pre {
		background: #3e3d3d;
	}
	
	.crap-in-dark {
		filter: invert(80%)
    }
}

body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 21px
}

p {
    font-family: crimsonroman, vollkorn, sans-serif
}

.qa {
    text-align: right;
    padding: 0px 15%;
}

.h1, .h2, .h3 {
	padding: 0px 5%;
    line-height: 1.2;
    text-align: center;
    font-family: cmu_serifbold, sans-serif
}

.h1 {
    font-size: 34px;
}

.h2 {
    font-size: 28px;
}

.h3 {
    font-size: 24px;
}

.p {
    text-indent: 32px;
    padding: 0px 5%;
}

.l {
    font-family: cmu_serifbold, sans-serif;
    padding: 0px 5%;
}

.centered {
    text-align: center
}

.nav {
    width: 100%
}

.left {
    float: left
}

.right {
    float: right
}

.nl {
	margin: 12px;
}
