html {
    background: #fff;
    color: #222;
}

a {
    color: #556fb5;
}

img {
    width: 84%;
    margin: 24px auto;
    display: block;
    padding: 3%;
    background: #ececec;
}

@media (
    prefers-color-scheme: dark
) {
    html {
	background: #333;
	color: #eee;
    }
    
    a {
	color: #a6e3e9;
    }

    img {
	background: #494949;
    }
}

body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 21px
}

p {
    font-family: crimson, vollkorn, sans-serif
}

.q {
    padding: 0px 15%;
    text-decoration: underline dashed
}

.qa {
    text-align: right;
    padding: 0px 15%;
}

.h1, .h2, .h3 {
    line-height: 1.2;
    text-align: center;
    font-family: cmu_serifbold, sans-serif
}

.h1 {
    font-size: 34px;
}

.h2 {
    font-size: 28px;
}

.h3 {
    font-size: 24px;
}

.p {
    text-indent: 32px;
    padding: 0px 5%;
}

.l {
    font-family: cmu_serifbold, sans-serif;
    padding: 0px 5%;
}

.centered {
    text-align: center
}

.nav {
    width: 100%
}

.left {
    float: left
}

.right {
    float: right
}
